:root {
	--main-yellow-color: #F1C40F;
	--main-black-color: #333;
}
html, body {
	height:100%;
	margin:0;
	padding:0;
}
body {
	position: relative;
}
* {
	font-family: 'Titillium Web', sans-serif;
	box-sizing: border-box !important;
}

::placeholder {
	color: var(--main-yellow-color);
	opacity: 0.8;
}

::-webkit-scrollbar {
		display: none;
    width: 10px;
}

#search-case-list::-webkit-scrollbar {
	display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F1C40F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F1C40F;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none !important;
	cursor: pointer;
}

/*--- Start of Nav ---*/
nav {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: var(--main-black-color) !important;
	border: 0 !important;
	padding: 0 !important;
	z-index: 1000 !important;
}
.nav-logo {
	float: left;
}
.nav-logo a {
	display: block;
	padding: 10.5px;
	text-decoration: none;
	font-weight: bold;
	font-size: 150%;
	color: #F1C40F !important;
	transition: 0.2s;
}
.nav-logo a:hover {
	text-shadow: 0 0 3px #F1C40F;
}
#search-container {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 60px;
	padding: 10px;
	background-color: #393939;
	transition: 0.5s;
	z-index: 1;
}
#search-container.active-search {
	top: 50px;
}
#search-form {
	position: relative;
	width: 500px;
	margin: auto;
}
#search-bar {
	width: 100%;
	background-color: #333;
	color: #F1C40F;
	border: 1px solid #F1C40F;
	border-radius: 3px;
	padding: 5px 10px 5px 40px;
	font-size: 2rem;
	z-index: 2 !important;
}

#search-bar:focus {
	outline: none !important;
}
#search-btn {
	background-color: #333;
	padding: 8px 10px 5px;
	color: #F1C40F;
	font-size: 1.5rem;
	position: absolute;
	border: 0;
	border-radius: 3px;
	top: 50%;
	left: 1px;
	transform:translateY(-50%);
	z-index: 0;
}


#close-search-btn {
	width: 45px;
	height: 45px;
	position: absolute;
	top: 50%;
	right: 2%;
	cursor: pointer;
	transform: translateY(-50%);
}
#close-bar-one {
	width: 40px;
	height: 2px;
	background-color: #F1C40F;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translateY(-50%);
}
#close-bar-two {
	width: 40px;
	height: 2px;
	background-color: #F1C40F;
	border-radius: 10px;
	position: absolute;
	top: 48%;
	transform: rotate(135deg) translateY(-50%);
}

#search-case-list {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 230px;
	padding: 10px;
	overflow-y: auto;
 	background-color: #333;
  border-radius:0 0 5px 5px;
}
.show {
	display: block;
}
#search-case-list a {
	width: 500px;
	max-width: 100%;
	margin: auto;
  display:block;
  padding: 15px;
  color:#F1C40F;
  text-decoration:none;
  font-size: 1.7rem;
  font-weight: bold;
  border-left: 4px solid transparent;
}
#search-case-list a:hover {
	background-color: rgba(241, 196, 15, 0.1);
	border-left: 4px solid #F1C40F;
}

#search-case-list a:focus {
	outline: none !important;
	background-color: rgba(241, 196, 15, 0.1);
	border-left: 4px solid #F1C40F;
}
#scroll-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

#search-no-result {
	display: none;
	color: red;
}

@keyframes sideToSide {
	0% {transform: translateX(0px); color:#F1C40F;}
	50% {transform: translateX(8px); color:#F1C40F;}
	100% {transform: translateX(0px); color:#F1C40F;}
}
.navigation {
	position: relative;
	float: right;
}
.navigation ul {
	margin: 0 !important;
	padding: 0 !important;
}
.horizontal-nav li {
	float: left;
}
.horizontal-nav li a {
	display: block;
	padding: 6px 15px;
	border: 1.5px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;
	color: #F1C40F !important;
	margin: 8px 5px 0 0;
	transition: 0.4s;
}

.horizontal-nav li a:hover {
	border: 1.5px solid #F1C40F;
	margin: 8px 5px 0 0;
}
.vertical-nav {
	display: none;
}
.vertical-nav li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #F1C40F !important;
	transition: 0.4s;
}

.horizontal-nav li a:focus {
	outline: none !important;
}
#icon {
	display: none;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: relative;
	top: 0px;
	right: 15px;
}

#vertical-search-btn {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 52%;
	right: 50px;
	transform: translateY(-50%);
	color: #F1C40F;
	font-size: 2.5rem;
	line-height: 45px;
	padding: 3px 10px 0;
}
#hamburger-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: 4px;
	background-color: #F1C40F;
	border-radius: 10px;
}
#hamburger-menu:before,
#hamburger-menu:after {
	content: "";
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: #F1C40F;
	border-radius: 10px;
	transition: 0.4s;
}
#hamburger-menu:before {
	top: -10px;
}
#hamburger-menu:after {
	top: 10px;
}
#icon.active #hamburger-menu:before {
	top: 0;
	transform: rotate(45deg);
}
#icon.active #hamburger-menu {
	background-color: rgba(0,0,0,0);
}
#icon.active #hamburger-menu:after {
	top: 0;
	transform: rotate(135deg);
}
.vertical-nav {
	position: absolute;
	top: 135%;
	right: -200px;
	width: 180px;
	height: auto;
	background-color: #333;
	padding: 5px;
	border-radius: 5px;
	z-index: 3000 !important;
	transition: right 0.5s;
	transition: opacity 0.1s;
}
.vertical-nav:after {
	content: "";
	position: absolute;
	bottom: 100%;
    left: 72%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}
.vertical-nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.vertical-nav li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}
.vertical-nav li a {
	display: block;
	padding: 15px;
	padding-bottom: 25px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	color: #F1C40F !important;
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	transition: 0.2s;
}
.vertical-nav li a:hover {
	border-right: 3px solid #F1C40F;
	border-left: 3px solid #F1C40F;
}
.show-vertical-nav {
	display:block;
	right: -10px;
}
#click-box {
	position: relative;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	z-index: 1;
}

/*--- End of Nav ---*/



/*--- Banner ---*/
.banner {
	width:100%;
	height: 355px;
	position: relative;
	background: url("../img/yellow-photo.jpeg");
	background-size: cover;
	background-position: center -50px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#banner-inner {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 80%;
	position: absolute;
	top: 55%;
	transform: translateY(-50%);
}
#banner-heading {
	width: 100%;
	padding: 0;
	font-size: 3.7rem;
	text-align: center;
	font-weight: bold;
	margin: 30px auto 70px auto;
}
#get-started-btn {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid var(--main-black-color);
	border-radius: 5px;
	background-color: transparent;
	color: var(--main-black-color);
	padding: 10px 30px;
	font-size: 1.5rem;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}
#get-started-btn:hover {
	background-color: var(--main-black-color);
	color: var(--main-yellow-color);
}
/*--- End of banner section ---*/
#main-content {
	padding:50px 60px;
	height:auto;
	background-color:#EAECEE;
}
#features-heading-container {
	position:relative;
	width:87.5%;
	margin:auto;
}
#features-heading-container:after {
	content:"";
	display:table;
	clear:both;
}
#featured-topic-heading {
	float: left;
	font-size: 245%;
	color: black;
	padding: 5.5px 10px;
	border-bottom: 4px solid #F1C40F;
	margin-bottom: 5px;
}

.row {
	width: 90%;
	margin:auto;
}
.row li, .row h4, {
	color:black !important;
}
.card {
	position: relative;
	width:100%;
	height: 300px;
	padding: 0 !important;
	margin:10px 0;
	box-sizing: border-box !important;
	overflow: hidden !important;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 5px 10px 10px 10px;
	transition: 0.5s;
}
.button-to-page {
	position: absolute;
	top: 30%;
	left: -50%;
	transform: translate(-50%,-50%);
	color: #333;
	background-color: #F1C40F;
	border: 2px solid #333;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 2.2rem;
	font-weight: bold;
	z-index: 2;
	transition: 0.5s;
}
.card:hover .button-to-page {
	position: absolute;
	left: 50%;
}
.card img {
	position: relative;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 65%;
	height: 180px;
	border-radius: 10px;
	transition: 0.5s;
}
.card:hover {
	box-shadow: 0 0 20px #333;
}
.caption h4 {
	font-weight: bold;
}
.caption li {
	font-weight: bold;
}
.col-md-3 a {
	color: #333 !important;
}
.line-divider {
	width:80%;
	height:3px;
	background-color:#F1C40F;
	margin:0 auto 5px auto;
	transition:0.5s;
}
.card:hover .line-divider {
	animation-name: lineDividePulse;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}
@keyframes lineDividePulse {
	0% {width:80%;}
	50% {width: 0%;}
	100% {width: 80%;}
}

/*--- How It Works Section ---*/
.how-it-works-section {
	width:100%;
	height: auto;
	padding: 85px;
	background-color: #333;
	color: white;
}
.hiw-caption {
	font-size: 1.5rem;
	font-weight: bold;
}
.col-md-4 img {
	margin-bottom: 10px;
}
.col-sm-4 p {
	width: 100%;
	margin-bottom: 15px;
}
/*--- End of How It Works Section ---*/

/*--- Start of Conversion Section ---*/
	#conversion-section {
		padding: 45px;
		background-color: var(--main-black-color);
	}
  #conversion-container {
    position: relative;
    width: 500px;
		max-width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 0;
    border-radius: 3px;
    background-color: #333;
    text-align: center;
  }
  #conversion-heading {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: #F1C40F;
    font-size: 1.7rem;
		font-weight: bold;
  }
  .input-option-input {
    width: 100%;
    display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 7px;
  }
  #unit-converter {
    width: 100%;
		max-height: 200px;
    margin: 0;
    padding: 8px;
    border: 0;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
    background-color: #F1C40F;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
  }
  .input-option-input input {
    width: 100%;
    padding: 9px;
    border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
    border: 2px solid #F1C40F;
    color: #F1C40F;
    background-color: #333;
    font-size: 1.4rem;
    outline: none;
  }
/*--- End of Conversion Section ---*/

/*--- Start of Contact form ---*/
#contact-container {
	width:100%;
	height:auto;
	position: relative;
	background: url("../img/yellow-photo.jpeg");
	background-size: cover;
	background-position: center 100px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding:0 50px 50px;
	text-align: center;
}

#contact-container h2 {
  margin: 0 auto 10px;
  text-align: center;
  padding: 20px 0 10px;
	font-weight: bold;
}

#contact-container form {
  width: 45%;
	height: 100%;
  margin: auto;
}

#contact-container input:not(#contact-submit-btn),
#contact-container textarea {
  width: 100%;
  padding: 9px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
}

#contact-container input:not(#contact-submit-btn),
#contact-container textarea {
  margin-bottom: 10px;
  background-color: rgba(33, 47, 61, 0.9);
	color: var(--main-yellow-color);
}

#contact-submit-btn {
	width: 100%;
  border: 2px solid var(--main-black-color);
	border-radius: 3px;
  background-color: transparent;
  padding: 10px;
	font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-black-color);
  cursor: pointer;
  transition: 0.2s;
}

#contact-submit-btn:hover {
  background-color: var(--main-yellow-color);
  color: var(--main-black-color) !important;
}

#contact-username {
  display: none;
}
/*--- End of Contact Form ---*/


/*--- Credits Section ---*/
#credits-section {
	width: 100%;
	background-color: black;
}
.credits-inner {
	color: #F1C40F;
}
/*--- End of Credits ---*/
.modal {
	z-index: 20000 !important
}
.modal-header h4 {
	max-width: 200px;
	margin:auto;
	background-color:#333;
	padding:5px;
	border-radius: 5px;
	font-weight: bold;
	color:#F1C40F;
}

.modal-footer {
	text-align: center;
}

.glyphicon-remove {
	width: 100%;
	margin: auto;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--main-black-color);
	font-size: 1.5rem;
	color: var(--main-black-color);
	text-align: center;
	transition: 0.2s;
}

.glyphicon-remove:hover {
	background-color: var(--main-black-color);
	color: var(--main-yellow-color);
}

/*--- Calculator ---*/
#calculator-container {
	position:relative;
	background-color: var(--main-black-color);
	padding: 0px 45px 45px;
}
.calculator-whole {
	max-width: 500px;
	margin: auto;
	padding: 10px;
	background-color: DarkGray;
	border-radius: 5px;
}
#input-field {
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #333;
	outline-color: #F1C40F;
	color: #F1C40F;
	font-size: 3rem;
}
.calculator-whole .row {
    width: 100%;
}
.calc-row:after {
    content: "";
    display: table;
    clear: both;
}
.col-half {
    width: 50%;
    padding: 1px;
    float: left;
}
.col-fourth {
    width: 25%;
    padding: 1px;
    float: left;
}
.col-third {
    width: 33.33%;
    padding: 1px;
    float: left;
}
.calculator-whole button {
    width: 100%;
		height: 40px;
    border: 1px solid #F1C40F;
    padding: 4px;
    border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
    background-color: #333;
		outline: none;
		cursor: pointer;
    font-weight: bold;
    font-size: 1.7rem;
    color: #F1C40F;
		transition: 0.3s;
}
.calculator-whole button:hover {
	background-color: #F1C40F;
	border: 1px solid #333;
  color: #333;
}
.calculator-whole button:active {
	background-color: DarkGray;
}
#radians-container, #degrees-container {
	position: relative;
	width: 100%;
}
#radians-indicator, #degrees-indicator {
	width: 7px;
	height: 7px;
	background-color: #333;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 30%;
	left: 10px;
}
.mode-indicator {
	background-color: #2ECC71 !important;
}

#sig-fig-field {
	width: 100%;
	height: 40px;
	border: 1px solid #F1C40F;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 4.5px 4.5px 4.5px 20px;
	background-color: #333;
	outline: none;
	font-size: 1.5rem;
	color: #F1C40F;
}

#calculator-tooltip {
	position:absolute;
	bottom:10px;
	left:50%;
	transform:translateX(-50%);
	opacity: 0;
	text-align: center;
	transition: 0.3s;
	width: 200px;
	margin: 5px auto 0;
	border: 2px solid rgb(192, 57, 43);
	border-radius: 4px;
	background-color: rgba(192, 57, 43, 0.5);
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing:1px;
	color: white;
}
/*--- End of Calculator ---*/

#go-up-container {
	opacity: 0;
	position: fixed;
	bottom: 20px;
	right: 20px;
	transition: 0.4s;
}
#go-up-container button {
	background-color: var(--main-black-color);
	border: 0;
	border-radius: 4px;
	color: var(--main-yellow-color);
	padding: 10px 15px;
	font-size: 1.5rem;
}

#go-up-container button:focus {
	outline: none;
}



/*--- Media Queries ---*/
@media screen and (max-width: 1300px){
	.card {
		height: 250px;
	}
	.card img {
		height: 130px;
	}
	.button-to-page {
		font-size: 1.8rem;
		width: 60%;
		text-align: center;
	}
}
@media screen and (max-width: 1200px){
	.button-to-page {
		padding: 5px;
	}
	.email-list-form {
		width: 60%;
	}
}

@media screen and (max-width: 1070px){
	.button-to-page {
		font-size: 1.5rem;
	}
	.card {
		height: 230px;
	}
	.card img {
		height: 110px;
	}
}

@media screen and (max-width:1000px) {
	.calculator-field {
		padding:10px !important;
	}
}

@media screen and (max-width: 992px){
	.how-it-works-section .col-md-4:not(:last-child) {
		margin-bottom: 40px;
	}
	.how-it-works-section .hiw-caption {
		padding: 20px 0 0;
	}
	#features-heading-container {
		text-align: center;
	}
	#featured-topic-heading {
		float: none;
	}
	.card-row .card:last-child {
		margin-bottom: 0;
	}
	.col-md-3 {
		width: 80%;
		margin: auto !important;
	}
	.button-to-page {
		font-size: 3.5rem;
	}
	.card {
		height: 390px;
		margin: 30px auto;
	}
	.card img {
		width: 250px;
		height: 250px;
	}
	.card h4 {
		font-size: 2.5rem;
	}
	.card li {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 800px){
	#contact-container form {
		width: 80%;
	}
	#search-case-list {
		width: 100%;
		left: 0;
		transform: translateX(0);
	}
	.modal-dialog {
		width: 85%;
		margin: 15px auto 0;
	}
}

@media screen and (max-width: 765px){
	#banner-heading{
		font-size: 3.5rem;
	}
	#email-list-section input {
		width: 400px !important;
	}
}
@media screen and (max-width: 715px){
	#search-form {
		margin-left: 0;
	}
	#search-case-list a {
		margin-left: 0;
	}
	#banner-heading{
		font-size: 2.7rem;
	}
	.card {
		height: 355px;
	}
	.card img {
		width: 200px;
		height: 200px;
	}
}
@media screen and (max-width: 650px){
	#icon {
		display: block;
	}
	#vertical-search-btn {
		display: block;
	}
	.vertical-nav {
		z-index: 30000 !important;
	}
	.horizontal-nav {
		display: none;
	}
	.button-to-page {
		font-size: 3rem;
	}
}
@media screen and (max-width: 600px){
	#banner-heading {
		padding: 0 15px;
	}

	.col-md-3 {
		width: 95%;
		margin: auto !important;
	}

	.card img {
		width: 150px;
		height: 150px;
	}
	.card {
		height: 290px;
	}
	.button-to-page {
		font-size: 2.2rem;
	}
	.card li {
		font-size: 1.6rem;
	}
	#conversion-section {
		padding: 15px;
	}
	#conversion-container {
		width: 90%;
	}
}

@media screen and (max-width: 580px){
	#search-form,
	#search-case-list a {
		width: 400px;
	}
}

@media screen and (max-width: 500px){
	.how-it-works-section {
		padding: 40px 20px;
	}
	.card h4 {
		font-size: 2rem;
	}
	.modal-dialog {
		width: 100%;
		transform: translateX(0);
		margin: 0;
	}
	.modal-content {
		border-radius: 0;
	}
	#sig-fig-field {
		padding-left: 10px;
	}
}
@media screen and (max-width: 470px){
	#search-form,
	#search-case-list a {
		width: 300px;
	}
}

@media screen and (max-width: 450px){
	#search-bar {
		width: 300px;
	}
	#get-started-btn {
		font-size: 2rem;
	}
	#featured-topic-heading {
		font-size: 3rem;
	}
	#main-content {
		padding: 50px 25px;
	}
	.input-option-input {
		display: block;
	}
	.input-option-input input,
	#unit-converter {
		width: 100%;
		margin: 0 0 7px 0;
	}
	#calculator-container {
		padding: 0 30px 40px;
	}
	.calculator-whole button,
	#sig-fig-field {
		height: 35px;
	}
	#contact-container {
		padding: 0px 10px 50px;
	}
	#contact-container form {
		width: 95%;
		margin: auto;
	}
}
@media screen and (max-width: 400px){
	#how-it-works-section {
		width: 95%;
	}
	.col-md-3 {
		padding-right: 0;
		padding-left: 0;
	}
	.card-row {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (max-width: 370px){
	#search-bar,
	#search-case-list a {
		width: 250px;
	}
}

@media screen and (max-width: 350px){
	#search-form,
	#search-case-list a {
		width: 250px;
	}
	#get-started-btn {
		top: 70%;
		font-size: 1.5rem;
	}
	.button-to-page {
		font-size: 1.6rem;
	}
	.calculator-whole button,
	#sig-fig-field {
		font-size: 1.4rem;
	}
	#contact-container {
		background-position: center;
	}
	#contact-submit-btn {
		color: var(--main-yellow-color);
	}
	#contact-submit-btn:focus {
		color: var(--main-black-color);
	}
}

@media screen and (max-width: 320px){
	#search-bar,
	#search-case-list a {
		width: 230px;
	}
}

@media screen and (max-width: 300px){
	#banner-heading {
		font-size: 2.3rem;
	}
	#get-started-btn {
		width: 150px;
		text-align: center;
		padding: 10px 15px;
	}
	.how-it-works-section {
		padding: 40px 0;
	}
	.col-sm-4 {
		padding: 0;
	}
	.col-sm-4 img {
		width: 110px;
		height: 110px;
	}
	#main-content {
		padding: 50px 5px;
	}
	.card {
		height: 220px;
	}
	.card h4 {
		font-size: 1.7rem;
	}
	.card img {
		width: 100px;
		height: 100px;
	}
	.button-to-page {
		1.2rem;
	}
}
/*--- End of Media Queries ---*/
